<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">rTotggcuosTGTxMyFMGWUSNZdXAQFoyd+r5jw+3HaZo=</property>
        <property name="hibernate.connection.url">jdbc:mysql://61.28.226.170:3306</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_catalog">empdb</property>
        <property name="hibernate.default_schema">empdb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.luannh.lsa.model.Merits"/>
        <mapping class="com.luannh.lsa.model.Employees"/>
    </session-factory>
</hibernate-configuration>
